.card {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    background-color: white;
    top: 205px;
    left: 300px;
}

.card-image img {
    width: 65px;
    height: 57px;
    border-radius: 8px;
    object-fit: cover;
}

.card-info {
    flex-grow: 1;
    margin-left: 10px;
}

.card-info h5 {
    margin: 0;
    font-size: 18px;
}

.card-info p {
    margin: 5px 0 0;
    color: #666;
}

.card-edit {
    display: flex;
    gap: 10px;
}

.card-edit img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}