.card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    width: 80%; 
    position: absolute;
    top: 205px;
    left: 300px;
}

.cards {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    width: 270px; 
    background-color: white;
    box-sizing: border-box;
    margin: 0 38px 30px 0;
}

.cards:nth-child(4n+1) {
    margin-left: 0; 
}

.cards:nth-child(4n) {
    margin-right: 0;
}

.cards-image img {
    width: 65px;
    height: 57px;
    border-radius: 8px;
    object-fit: cover;
}

.cards-info {
    flex-grow: 1;
    margin-left: 10px;
}

.cards-info h5 {
    margin: 0;
    font-size: 18px;
}

.cards-info p {
    margin: 5px 0 0;
    color: #666;
}

.cards-edit {
    display: flex;
    gap: 10px;
}

.cards-edit img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
