.containerHistory {
    width: 76%;
    position: absolute;
    left: 310px;
    top: 190px;
    border-radius: 3px;
    
  }

  
  
  .containerHistory th {
    border-bottom: 1px solid #DFE2E9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #00072B;
    font-size: 14px;
    text-align: center;
   
  }


  .containerHistory td {
    border-bottom: 1px solid #DFE2E9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #00072B;
    font-size: 14px;
    text-align: center;
    width: 10%;
   
  }
  
  .containerHistory table {
    background-color: #ffffff;
    border-collapse: collapse;
    width: 100%;
  }
  
  .containerHistory thead th {
    height: 65px;
    background-color: #FFFFFF;
    width: 10%;
  }
  

  .containerHistory tbody tr{
    height: 61px;
  }

  .idContainer,
  .customerID{
    width: 50px;
    height: 24px;
    color: #454D59;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DFE2E9;
    border-radius: 5px;
    margin-left: 50px;
  }

  @media only screen and (max-width: 432px) {
    .containerHistory {
      width: 92%;
      position: absolute;
      left: 1em;
      top: 190px;
      border-radius: 3px;
      
    }
  }
  