.table-container {
  width: 76%;
  position: absolute;
  left: 21.4%;
  top: 29%;
  border-radius: 3px;
  overflow-x: auto;


}



.table-container table {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
  min-width: 1000px;

}

.table-container th {
  border-bottom: 1px solid #DFE2E9;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #00072B;
  font-size: 14px;
  text-align: center;
  height: 65px;
  background-color: #FFFFFF;
}

.table-container td {
  border-bottom: 1px solid #DFE2E9;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #00072B;
  font-size: 14px;
  text-align: center;
}

.table-container tbody tr {
  height: 61px;
}


.pagination {
  width: 76%;
  position: absolute;
  left: 21.4%;
  top: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 30px; */
}

.page-number {
  padding: 6px 10px;
  margin: 0 10px;
  background-color: #FCDDEC;
  border-radius: 2px;
  color: #BB6BD9;
  font-family: Arial, Helvetica, sans-serif;
}

.slash {
  color: #FCDDEC;
  font-size: 17px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}


.total-pages {
  color: #C7C7C7;
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.prev-button,
.next-button {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid #FCDDEC;
}

.next-button {
  margin-left: 10px;
}


.select-options select {
  width: 60px;
  height: 32px;
  border: 1px solid #B0BAC9;
  color: #00072B;
  font-size: 16px;
  border-radius: 2px;
  background-color: #FFF;
}

@media only screen and (max-width: 768px) {
  .table-container {
    width: 93%;
    overflow-x: auto;
    position: relative;
    left: 0;
    top: 200px;
    border-radius: 3px;
    margin: auto;


  }

  .table-container table {
    min-width: 1000px;

  }

  .pagination {
    width: 92%;
    position: absolute;
    left: 5.4%;
    top: 170%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 30px; */
  }
}