.sub-nav-restaurant {
    display: flex;
    position: absolute;
    top: 14%;
    left: 21.4%;
    background-color: #27283C;
    width: 77%;
    height: 73px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
}
.sub-nav-left {
    margin: 5px 0 0 23px;
}


.sub-nav-left h2 {
    font-weight: 500;
    font-size: 1.45rem;
    color: #F2F2F2DE;
    line-height: 21px;
    font-family: Arial, Helvetica, sans-serif;
}
.sub-nav-right {
    display: flex;
    align-items: center;
}
.select-arrow-restaurant{
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 32px;
    right: 253px;
    cursor: pointer;
}
.formRestaurant {
    background-color: #5A5B70;
    width: 199px;
    /* height: 35px; */
    padding: 10px;
    border-radius: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: white;
    font-size: 14px;
}
.formRestaurant select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: white;
    font-size: 14px;
}
.formRestaurant option {
    color: white;
    font-size: 14px;
}

.res-btn-for-responsive{
    display: none;
}

.res-btn {
    width: 12.5em;
    height: 2.3em;
    font-weight: 700;
    font-size: 1rem;
    background-color: #C035A2;
    border: none;
    border-radius: 20px;
    margin: 20px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(39, 174, 96, 0.20);
}
@media only screen and (max-width: 431px) {
.sub-nav-restaurant {
    position: absolute;
    left: 1em;
    width: 92%;
    height: 9em;
    margin-top: 41px;
    top: 5.65em;
    border-radius: 4px;
   
}

/* .all-subnav-restaurant{
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    height: 6.7em;
} */

#restaurants-category{
    display: none;
}

.select-arrow-restaurant{
    display: none;
}

.sub-nav-left{
    display: flex;
    flex-direction: column;
    /* border-radius: 0.25rem; */
    border-radius: 1px;
    height: 6.7em;
}

.res-btn{
    display: none;
}

.res-btn-for-responsive{
  display: block;
  width: 22.5em;
  height: 3.5em;
  font-weight: 700;
  font-size: 1rem;
  background-color: #C035A2;
  border: none;
  border-radius: 4px;
  /* margin: 20px; */
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(39, 174, 96, 0.20);
}




}