.cat-container {
  position: absolute;
  left: 21.5%;
  width: 77%;
  top: 14%;
} 

.category {

  width: 13.5em;
  height: 2.6em;
  background-color: #c035a2;
  border: 2px solid #C035A2;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.8rem;
  margin-right: 1.3em;
  padding-left: 1.7em;
  box-shadow: 0px 4px 4px 0px rgba(39, 174, 96, 0.20);
  transition-duration: 1s;
}
.category:hover {
  background-color: rgb(150, 40, 130);
  cursor: pointer;
}
 
.category,
.category span{
  font-weight: 700;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.category span{
  padding-right: 1.5em;
  letter-spacing: 0.25px
}

.cat-heading {
  height: 4.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #27283c;
  border-radius: 0.8rem;
}

.cat-headingH2 {
  font-family: "Roboto";
  padding-left: 1em;
  letter-spacing: 0.3px;
  color: #c7c7c7;
  font-size: 1.45rem;
  font-weight: 500;
}


@media (max-width:431px) {
  .cat-container {
    position: absolute;
    left: 1em;
    width: 92%;
    margin-top: 41px;
    top: 5.65em;
  } 

  .cat-heading {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    height: 6.7em;
    
  }
  
  .cat-heading h2 {
    margin-left: -14em;
    margin-top: 0.6em;
    margin-bottom: 0.9em;
    /* font-size: 1.45rem; */
    padding-left: 2.7em;
  }
  .category {

    width: 90%;
    margin-right: 1.3em;
    padding-left: 3.7em;
    border-radius: 0.25rem;
    margin-left: 1.5em;
    transform: translateY(-1em); 
  }

  .category span{
    padding-right: 7em;
    letter-spacing: 0.25px
  }
  
}
 