.navbarHistory {
    width: 76%;
    position: absolute;
    left: 310px;
    top: 77px;
 
  }

.textHistory {
    background-color: rgba(66, 66, 93, 0.4);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #F2F2F2DE;
    text-align: start;
  }
  
  .headingHistory {
    margin-bottom: 20px;
    
   
  }

  @media only screen and (max-width:431px){
    .navbarHistory{
      width: 93%;
      position: absolute;
      left: 1em;
      top: 77px;
      
    }

    .textHistory{
      border-radius: 6px;
      
    }
    
  }