.sub-nav {
    display: flex;
    position: absolute;
    top: 90px;
    left: 300px;
    background-color: #27283C;
    width: 79%;
    height: 73px;
    border-radius: 14px;
    justify-content: space-between;
    align-items: center;
}

.sub-nav-left {
    margin: 5px 0 0 33px;
}

.sub-nav-left h2 {
    color: #F2F2F2DE;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

.sub-nav-right {
    display: flex;
    align-items: center;
}

.form {
    background-color: #5A5B70;
    width: 199px;
    height: 35px;
    margin: 20px;
    border-radius: 20px;
}

.form option {
    color: white;
}

.res-btn {
    width: 168px;
    height: 35px;
    background-color: #C035A2;
    border-radius: 20px;
    margin: 20px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .sub-nav {
        flex-direction: column;
        align-items: center;
        top: 90px;
        left: 20px;
        width: 90%;
        height: auto;
        padding: 10px 0;
    }

    .sub-nav-left {
        margin: 10px 0;
    }

    .sub-nav-right {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .form {
        width: 80%;
        margin: 10px 0;
    }

    .res-btn {
        width: 80%;
        margin: 10px 0;
    }
}

@media (max-width: 431px) {
    .sub-nav {
        top: 100px;
        left: 10px;
        width: calc(100% - 20px);
    }

    .sub-nav-right {
        flex-direction: column;
        align-items: center;
    }

    .form {
        width: 90%;
        margin: 10px 0;
    }

    .res-btn {
        width: 90%;
        margin: 10px 0;
    }
}